<app-header-login></app-header-login>
<section class="vh-100 bg-primary.bg-gradient back">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0" >

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-2 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i src="assets/time.png" class="fas fa-cubes fa-2x me-3"></i>
                    <span class="h1 fw-bold mb-0">Notificación enviada</span>
                  </div>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span><p class="aviso">Si ya existe una cuenta de Alarma saludable para el correo diligenciado se enviará un correo electrónico con mas instrucciones
                    </p></span>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
