<app-header></app-header>
<section class="vh-100 bg-primary.bg-gradient back">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0" >

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">



                  <div class="d-flex align-items-center mb-3 pb-1" >
                    <span class="h1 fw-bold mb-0">Bienvenido a Alarmas saludables</span>
                  </div>

                  <div class="form-outline mb-4">
                    <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Tus alarmas son tu prioridad</mat-card-title>
                        <mat-card-subtitle>Salud</mat-card-subtitle>
                      </mat-card-header>
                      <img class="logo" mat-card-image src="assets/time.png">
                      <mat-card-content>

                          <h2>tu puedes ser uno de los usuario que se apoderan del control de sus alarmas y no olvidan ningun detalle.</h2>

                      </mat-card-content>

                    </mat-card>

                  </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
