
<div class="container-fluid general">
  <div class="row align-items-start">
    <div class="col">
      <app-header-close-session></app-header-close-session>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-2 alarm_back">
      <div class="row">
        <div class="col-md-20">Alarmas registradas en el Sistema</div>
        </div>
      </div>
     <div class="col-md-10">
      <div class="row">
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
        <div class="col-md-3"><app-alarm-card></app-alarm-card></div>
      </div>
    </div>
  </div>
</div>
